/* 
    Document   : base
    Created on : Apr 2, 2011, 10:27:21 PM
    Author     : Greg Bridle
    Description: Base stylesheet for Titan web projects based on Java
        
*/

html
{
    font:               normal 12px Tahoma;
}

body
{
    background:         url('../images/bg.png') repeat;
    text-align:         center;
    width:              100%;
}
a
{
    color:              gray;
    text-decoration:    none;
}
a:hover
{
    text-decoration:    underline;
}
.clear
{
    clear:              both;
}
div#logincontainer
{
    margin:             0 auto;
    margin-top:         100px;
    text-align:         left;
    width:              500px;
}
div#container
{
    margin:             0 auto;
    margin-top:         50px;
    text-align:         left;
    width:              900px;
}
div#mainpanel
{
    background:         white;
    float:              left;
    width:              900px;
}
div#logo
{
    background:         url('../images/logo.png') no-repeat;
    float:              left;
    height:             85px;
    margin-left:        20px;
    width:              700px;
}
div#loginoptions
{
    float:              left;
    margin-top:         20px;
    text-align:         right;
    width:              150px;
}
div#loginbox
{
    background:         url('../images/login_bg.png') no-repeat;
    float:              left;
    height:             336px;
    margin:             0px;
    padding:            0px;
    width:              555px;
}
div#loginbox .prompt
{
    color:              gray;
    float:              left;
    font:               normal 20px Tahoma;
    height:             30px;
    line-height:        30px;
    margin:             0px 10px 15px 0px;
    text-align:         right;
    width:              140px;
}
div#loginbox .input
{
    float:              left;
    height:             30px;
    line-height:        30px;
    margin-bottom:      15px;
    width:              340px;
}
div#loginbox .inputbox
{
    color:              gray;
    font:               normal 20px Tahoma;
    height:             30px;
    width:              320px;
}
div#loginbox .options
{
    float:              left;
    margin:             0px 0px 10px 150px;
    width:              225px;
}
div#loginbox div.button
{
    float:              left;
    font:               normal 20px Tahoma;
    margin:             0px 0px 10px 0px;
    text-align:         right;
    width:              100px;
}
div#loginbox input.button
{
    height:             40px;
    width:              100px;
}
.shadow
{
    -moz-box-shadow:    3px 3px 4px #000;
    -webkit-box-shadow: 3px 3px 4px #000;
    box-shadow:         3px 3px 4px #000;
    /* For IE 8 */
    -ms-filter:         "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    filter:             progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}

div#messagelist
{
    float:              left;
    width:              550px;
}
div.messagedetail
{
    background:         #EEE;
    border:             1px solid lightgray;
    float:              left;
    height:             80px;
    margin-top:         10px;
    overflow:           hidden;
    width:              520px;
}
div.messagedetail div.messagephoto
{
    float:              left;
    height:             45px;
    padding:            10px;
    width:              45px;
}
div.messagedetail div.messagesender
{
    color:              gray;
    float:              left;
    font:               bold 14px Tahoma;
    height:             25px;
    line-height:        25px;
    margin-top:         10px;
    width:              300px;
}
div.messagedetail div.messagedate
{
    color:              gray;
    float:              left;
    font:               normal 12px Tahoma;
    height:             25px;
    line-height:        25px;
    margin-top:         10px;
    text-align:         right;
    width:              145px;
}
div.messagedetail div.messagetext
{
    color:              gray;
    float:              left;
    font:               normal 12px Tahoma;
    height:             25px;
    line-height:        1.6em;
    margin-bottom:      10px;
    width:              445px;
}
div#personalinfo
{
    float:              left;
    width:              550px;
}
div#personalinfo div#photo
{
    float:              left;
    height:             45px;
    width:              45px;
}
div#personalinfo div#name
{
    color:              black;
    float:              left;
    font:               bold 32px Tahoma;
    height:             45px;
    padding-left:       20px;
    width:              450px;
}
div#personalinfo div#quote
{
    background:         url('../images/status_bg.jpg') no-repeat;
    color:              gray;
    float:              left;
    font:               normal 12px Tahoma;
    height:             38px;
    line-height:        44px;
    margin-left:        65px;
    padding-left:       20px;
    width:              445px;
}

/* Override styles for the YUI Tab Control */
#content-explorer
{
    float:              left;
    margin:             10px 0px 0px 10px;
    width:              860px;
}
#content-explorer ul
{
    padding:            10px 20px 0;
    border-bottom:      1px solid lightgray;
}
#content-explorer ul li
{
    font:               normal 14px Tahoma;
    text-transform:     uppercase;
}
#content-explorer ul li a
{
    background:         #eee;
    color:              #666;
}
#content-explorer ul li.selected a, #content-explorer ul li a:hover
{
    background:         white;
    color:              #666;
}
#content-explorer div.yui-content
{
    background:         white;
    border:             none;
    float:              left;
    overflow:           auto;
    padding:            20px;
    width:              840px;
}
.yui-skin-sam .yui-navset .yui-content
{
}
.yui-skin-sam .yui-navset .yui-nav .selected a
{
    border-left:        1px solid lightgray;
    border-right:       1px solid lightgray;
    border-top:         1px solid lightgray;
}
.yui-skin-sam .yui-navset .yui-nav .selected a em
{
    border-top:         1px solid lightgray;
}
